<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISAILO MAPS — Registro</title>

    <link rel="stylesheet" href="../static/registercss.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <div class="register-decor register-decor--1"></div>
    <div class="register-decor register-decor--2"></div>

    <div class="register-container" id="registerContainer">

        <a href="/" class="back-link">
            <i class="fas fa-arrow-left"></i> Volver
        </a>

        <div class="register-header">
            <h2>CREAR CUENTA</h2>
            <p>Regístrate para acceder a la plataforma ISAILO MAPS</p>
        </div>

        <div class="register-box" id="registerBox">
            <form action="/register" method="POST">
            <div class="column" id="colLeft">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Juan" required>

                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Pérez">

                <label for="correo">Correo Electrónico</label>
                <input type="email" id="correo" placeholder="correo@ejemplo.com" name="correo" required>
                <span class="error-msg" id="emailError">Ingresa un correo electrónico válido (debe contener @).</span>

                <label for="password">Contraseña</label>
                <div class="input-wrapper">
                    <input type="password" id="password" name="password_hash" placeholder="••••••••" required>
                    <i id="togglePassword" class="fas fa-eye"></i>
                </div>
            </div>

            <div class="column" id="colRight">
                <label for="rol">Tipo de Usuario</label>
                <select id="rol" name="rol">
                    <option value="1">Estudiante</option>
                    <option value="2">Docente</option>
                    <option value="3">Administrador</option>
                </select>

                <button type="submit" class="btn-register" id="registerBtn">
                    Continuar <i class="fas fa-arrow-right"></i>
                </button>

                <div class="register-links">
                    <p>¿Ya tienes cuenta?</p>
                    <a href="/login">Inicia sesión aquí</a>
                </div>
            </div>

        </form>
        </div>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
   

</body>
</html>
