<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="../static/Primaria.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="Inf_P" title="Inf_P" href="" coords="312,35,316,273,654,271,654,37" shape="poly">
    <area target="" alt="Inf_B" title="Inf_B" href="" coords="315,275,590,276,588,671,315,668" shape="poly">
    <area target="" alt="Salon" title="Salon" href="" coords="320,785,319,986,647,985,649,785" shape="poly">
</map>
</body>
</html>