<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../static/Administrativo.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="Biblioteca" title="Biblioteca" href="" coords="116,169,108,649,888,644,883,164" shape="poly">
    <area target="" alt="Atencion a padres1" title="Atencion a padres1" href="" coords="1102,360,1100,642,1243,641,1241,357" shape="poly">
    <area target="" alt="Atencion a padres2" title="Atencion a padres2" href="" coords="1251,354,1253,644,1399,644,1397,357" shape="poly">
</map>
</body>
</html>
