<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="../static/TorreBachillerato1.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="Salon" title="Salon" href="" coords="711,671,711,363,910,363,912,671" shape="poly">
    <area target="" alt="Salon" title="Salon" href="" coords="711,54,710,360,910,361,911,54" shape="poly">
    <area target="" alt="Salon" title="Salon" href="" coords="389,670,601,668,601,966,390,969" shape="poly">
    <area target="" alt="Salon" title="Salon" href="" coords="600,209,600,527,388,529,391,207" shape="poly">
    <area target="" alt="Salon" title="Salon" href="" coords="711,672,910,672,908,966,710,968" shape="poly">
    <area target="" alt="Lab_Sociales" title="Lab_Sociales" href="" coords="388,52,387,205,706,208,707,53" shape="poly">
    <area target="" alt="Bodega" title="Bodega" href="" coords="601,744,707,745,706,968,602,969" shape="poly">
</map>
</body>
</html>