<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="../static/Administrativo.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="Patio_C1" title="Patio_C1" href="" coords="1100,167,1740,169,1746,643,1099,646" shape="poly">
    <area target="" alt="Oficina_Pastoral" title="Oficina_Pastoral" href="" coords="109,171,409,169,407,646,106,644" shape="poly">
</map>
</body>
</html>
