<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="../static/TorreBachillerato1.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="Salon" title="Salon" href="" coords="711,674,911,672,911,972,709,970" shape="poly">
    <area target="" alt="Salon" title="Salon" href="" coords="711,671,708,365,911,363,913,668" shape="poly">
    <area target="" alt="Salon" title="Salon" href="" coords="708,54,708,360,911,359,908,54" shape="poly">
    <area target="" alt="Salon" title="Salon" href="" coords="389,675,601,673,599,970,389,971" shape="poly">
    <area target="" alt="Salon" title="Salon" href="" coords="391,54,599,57,601,366,388,363" shape="poly">
    <area target="" alt="CoordinacionC" title="CoordinacionC" href="" coords="389,367,599,366,602,522,389,526" shape="poly">
    <area target="" alt="Bodega" title="Bodega" href="" coords="601,744,707,745,706,968,602,969" shape="poly">
</map>
</body>
</html>
