<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="../static/Balcon.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="Primaria" title="Primaria" href="" coords="316,39,655,34,653,265,318,265" shape="poly">
    <area target="" alt="" title="" href="" coords="314,272,653,272,653,494,314,492" shape="poly">
    <area target="" alt="" title="" href="" coords="316,496,646,498,650,664,312,664" shape="poly">
    <area target="" alt="" title="" href="" coords="316,787,653,783,655,992,314,996" shape="poly">
</map>
</body>
</html>