<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="../static/Balcon.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="" title="" href="" coords="1524,284,1526,526,1686,523,1686,282" shape="poly">
    <area target="" alt="" title="" href="" coords="1304,282,1524,279,1531,526,1302,531" shape="poly">
    <area target="" alt="" title="" href="" coords="1083,287,1297,279,1297,526,1085,526" shape="poly">
    <area target="" alt="" title="" href="" coords="858,284,1078,279,1078,528,856,528" shape="poly">
    <area target="" alt="" title="" href="" coords="634,282,853,279,853,526,639,528" shape="poly">
    <area target="" alt="" title="" href="" coords="410,282,627,287,639,526,412,526" shape="poly">
    <area target="" alt="" title="" href="" coords="91,284,300,282,300,531,86,528" shape="poly">
</map>
</body>
</html>