<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="../static/Salon_actos.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="SalonC" title="SalonC" href="" coords="737,293,737,689,508,689,506,292" shape="poly">
    <area target="" alt="Salon_M" title="Salon_M" href="" coords="63,420,274,425,273,690,62,690" shape="poly">
</map>
</body>
</html>