<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <img src="../static/TorreBachillerato.png" usemap="#image-map">

 <map name="image-map">
    <area target="" alt="" title="" href="" coords="370,54,711,52,709,211,372,211" shape="poly">
    <area target="" alt="" title="" href="" coords="601,742,707,744,707,968,601,968" shape="poly">
</map>
</body>
</html>
