<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="../static/TorreBachillerato1.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="Lab_Fisica" title="Lab_Fisica" href="" coords="711,738,710,253,908,254,910,737" shape="poly">
    <area target="" alt="Salon" title="Salon" href="" coords="711,54,711,251,910,250,911,54" shape="poly">
    <area target="" alt="Lab_Biologia" title="Lab_Biologia" href="" coords="389,670,601,668,598,740,909,741,908,968,390,969" shape="poly">
    <area target="" alt="Lab_Quimica" title="Lab_Quimica" href="" coords="710,208,600,209,600,527,388,529,388,51,707,51" shape="poly">
</map>
</body>
</html>