<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<img src="../static/Administrativo.png" usemap="#image-map">

<map name="image-map">
    <area target="" alt="Rectoria" title="Rectoria" href="" coords="107,167,109,638,412,639,414,171" shape="poly">
    <area target="" alt="Coordinacion_A" title="Coordinacion_A" href="" coords="628,351,630,638,886,636,886,356" shape="poly">
    <area target="" alt="Oficina" title="Oficina" href="" coords="625,351,627,634,412,633,417,351" shape="poly">
    <area target="" alt="Salon_P" title="Salon_P" href="" coords="1100,169,1740,174,1746,639,1099,638" shape="poly">
</map>
</body>
</html>
