<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../static/Mapa_general.png" usemap="#image-map">
 
<map name="image-map">
    <area target="" alt="Primaria" title="Primaria" href="" coords="142,307,244,317,223,715,119,704" shape="poly">
    <area target="" alt="Balcon" title="Balcon" href="" coords="218,232,218,313,246,316,248,349,907,351,906,231" shape="poly">
    <area target="" alt="Musica" title="Musica" href="" coords="922,222,923,401,1151,400,1147,228" shape="poly">
    <area target="" alt="Torre Bachillerato" title="Torre Bachillerato" href="" coords="1149,370,1465,372,1466,732,1149,730" shape="poly">
    <area target="" alt="Salon de actos" title="Salon de actos" href="" coords="237,716,237,594,714,598,714,720" shape="poly">
    <area target="" alt="Administrativo" title="Administrativo" href="" coords="724,608,724,726,1135,728,1135,610" shape="poly">
    <area target="" alt="Patio1" title="Patio1" href="" coords="252,361,244,580,709,575,712,362" shape="poly">
    <area target="" alt="Patio2" title="Patio2" href="" coords="716,363,914,370,914,399,1138,408,1139,591,713,591" shape="poly">
    <area target="" alt="Salon Danzas" title="Salon Danzas" href="" coords="1226,171,1348,174,1347,369,1225,369" shape="poly">
</map>
</body>
</html>
